@page "/statistics"
@inherits StatisticsBase

<h1>DataOverview</h1>

<h4>Player Statics</h4>
@if (Game.Player.Statics.Ascended > 0)
{
    <h6>Times ascended: @Game.Player.Statics.Ascended</h6>
}
@if (Game.Player.Statics.CollectedBolts > 0)
{
    <h6>Collected Bolts: @Game.Player.Statics.CollectedBolts</h6>
}

<div class="alert alert-danger">@Game.Player.Data.Points</div>

<h4>Data Logs</h4>
<table class="table">
    <thead>
        <tr>
            <th>Time</th>
            <th>Text</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var log in Game.Player.LogEntries.Take(20))
        {
            <tr>
                <td>@log.Time</td>
                <td>@log.Text</td>
                <td>
                    <a href="@($"playerlogdetail/{log.Text}")" class="btn btn-primary tab-content">
                        Detail
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>