@page "/"
@inherits IndexBase

<h1>Overview</h1>

<Row style="border: 1px solid black; margin-left: 0px; margin-right: 0px;">
    <Column ColumnSize="ColumnSize.Is3">
        Burn Wood for energy: (Energy gained per Wood: @Game.ResourceManager.EnergyGainedFromWood)
        <input @bind="Game.ResourceManager.WoodsBurningForEnergy" type="number" />
    </Column>
    <Column ColumnSize="ColumnSize.Is8">
        <LineChart @ref="horizontalLineChart" TItem="LiveDataPoint" OptionsObject="@horizontalLineChartOptions">
            <ChartStreaming TItem="LiveDataPoint"
                            Options="new ChartStreamingOptions { Delay = 1000 }"
                            Refreshed="@OnHorizontalLineRefreshed" />
        </LineChart>
    </Column>
</Row>



<h5>Iron: @Game.ResourceManager.Iron</h5>
<h5>Scrap: @Game.ResourceManager.Scrap</h5>
<h5>Wood: @Game.ResourceManager.Wood</h5>