@page "/robotmanagement"
@using RobotGame.Shared.Robot
@using Progress = RobotGame.Shared.Robot.Progress
@inherits RobotManagementBase

<h3>RobotManagement</h3>

<button class="btn btn-primary" @onclick="AddRobot">
    Add Robot
</button>


@foreach (var robot in Game.RobotManager.Robots)
{
    <div style="border: 1px solid black">
        <Row style="border: 1px solid black; margin-left: 0px; margin-right: 0px;">
            <Column ColumnSize="ColumnSize.Is6">
                <span class="oi oi-power-standby" aria-hidden="true">Battery Level:</span>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                         role="progressbar"
                         aria-valuenow="@robot.Battery_Current"
                         aria-valuemin="0"
                         aria-valuemax="@robot.Battery_Max"
                         style="width: @robot.BatteryPercentage">@robot.BatteryPercentage</div>
                    </div>
                </Column>
                <Column ColumnSize="ColumnSize.Is6">
                    <span class="oi oi-heart" aria-hidden="true">Health:</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
                             role="progressbar"
                             aria-valuenow="@robot.HealthCurrent"
                             aria-valuemin="0"
                             aria-valuemax="@robot.Health_Max"
                             style="width: @robot.HealthPercentage">@robot.HealthPercentage</div>
                        </div>
                    </Column>

                </Row>
                <Row style="border: 1px solid black; margin-left: 0px; margin-right: 0px;">
                    <Column ColumnSize="ColumnSize.Is4" style="border: 1px solid black">
                        Job:<select @onchange="@robot.OnSelectedJobChange" value="@robot.CurrentState.Name()">
                            @foreach (var template in AllJobs)
                            {
                                <option value=@template>@template</option>
                            }
                        </select>
                        Zone:<select @onchange="@robot.OnSelectedZoneChange" value="@robot.CurrentZone.Name">
                            @foreach (var zone in WorldManager.Instance.AllZoneNames)
                            {
                                <option value=@zone>@zone</option>
                            }
                        </select><Check TValue="bool" @bind-Checked="@robot.ReturnToPreviousStateOnMaxBattery">Repeat Job:</Check>
                    </Column>
                    <Column ColumnSize="ColumnSize.Is8">
                        @if (robot.CurrentProgress != null)
                        {
                            <span class="oi oi-person" aria-hidden="true"></span>
                            @foreach (var spot in robot.CurrentProgress.Path)
                            {

                                switch (spot)
                                {
                                    case Progress.Obstacle.Tree:
                                        <img src="images/Tree_LowRes.jpg" alt="Image" />
                                        break;
                                    case Progress.Obstacle.OreVein:
                                        <img src="images/MineOre_LowRes.jpg" alt="Image" />
                                        break;
                                    case Progress.Obstacle.Enemy:
                                        <img src="images/Enemy_LowRes.jpg" alt="Image" />
                                        break;
                                    case Progress.Obstacle.Empty:
                                        <img src="images/Empty_LowRes.jpg" alt="Image" />
                                        break;
                                    default:
                                        <span>ERROR MISSING IMAGE</span>
                                        break;
                                }

                            }
                        }
                        else
                        {
                            <span>No progress</span>
                        }
                    </Column>
                </Row>
                <div style="border: 1px solid black">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: @robot.Frame.Storage.WoodPercentage" aria-valuenow="@robot.Frame.Storage.Wood" aria-valuemin="0" aria-valuemax="@robot.Frame.Storage.MaxStorage">Wood</div>
                        <div class="progress-bar bg-success" role="progressbar" style="width: @robot.Frame.Storage.IronPercentage" aria-valuenow="@robot.Frame.Storage.Iron" aria-valuemin="0" aria-valuemax="@robot.Frame.Storage.MaxStorage">Iron</div>
                        <div class="progress-bar bg-warning" role="progressbar" style="width: @robot.Frame.Storage.CopperPercentage" aria-valuenow="@robot.Frame.Storage.Copper" aria-valuemin="0" aria-valuemax="@robot.Frame.Storage.MaxStorage">Copper</div>
                        <div class="progress-bar bg-primary" role="progressbar" style="width: @robot.Frame.Storage.LithiumPercentage" aria-valuenow="@robot.Frame.Storage.Lithium" aria-valuemin="0" aria-valuemax="@robot.Frame.Storage.MaxStorage">Lithium</div>
                        <div class="progress-bar bg-info" role="progressbar" style="width: @robot.Frame.Storage.ScrapPercentage" aria-valuenow="@robot.Frame.Storage.Scrap" aria-valuemin="0" aria-valuemax="@robot.Frame.Storage.MaxStorage">Scrap</div>
                    </div>
                </div>
            </div>
            <br />
        }